{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% block content %}
  <div class="container py-5">
    <article>
      <ul>
        <li>
          Место: {{ post.location }}              
        </li>
        <li>
          Дата: {{ post.date }}
        </li>
        <li>
          Категория: <a href="{{ post.category }}">{{ post.category }}</a>
        </li>
      </ul>         
      <p>
        {{ post.text|linebreaksbr }}
      </p>          
    </article>                
  </div>
{% endblock %}
